/* ====================================

JELLY.KY – Main stylesheet

Colour Swatches =======================
Off-black   #2D323C   rgb(45,50,60)
Purple      #643CA0   rgb(100,60,160)
Purple 2	#7878A0   rgb(120,120,160)
Blue        #64A0FF   rgb(100,160,255)
Green       #009687   rgb(0,150,135)
==================================== */

.offblack{color:#2D323C}
.purple{color:#643CA0}
.purple2{color:#7878A0}
.blue{color:#64A0FF}
.green{color:#009687}

.bg-offblack{background-color:#2D323C}
.bg-purple{background-color:#643CA0}
.bg-purple2{background-color:#7878A0}
.bg-blue{background-color:#64A0FF}
.bg-green{background-color:#009687}

/*! normalize.css v5.0.0 | MIT License | github.com/necolas/normalize.css */
button,hr,input{overflow:visible}audio,canvas,progress,video{display:inline-block}progress,sub,sup{vertical-align:baseline}html{font-family:sans-serif;line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0} menu,article,aside,details,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0}code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}a:active,a:hover{outline-width:0}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:bolder}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative}sub{bottom:-.25em}sup{top:-.5em}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{}button,select{text-transform:none}[type=submit], [type=reset],button,html [type=button]{-webkit-appearance:button}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{border-style:none;padding:0}[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring{outline:ButtonText dotted 1px}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}summary{display:list-item}[hidden],template{display:none}

/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */
html{color:#222;font-size:1em;line-height:1.4}::-moz-selection{background:#b3d4fc;text-shadow:none}::selection{background:#b3d4fc;text-shadow:none}hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}audio,canvas,iframe,img,svg,video{vertical-align:middle}fieldset{border:0;margin:0;padding:0}textarea{resize:vertical}.browserupgrade{margin:0.2em 0;background:#ccc;color:#000;padding:0.2em 0}.hidden{display:none !important}.visuallyhidden{border:0;clip:rect(0 0 0 0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px}.visuallyhidden.focusable:active,.visuallyhidden.focusable:focus{clip:auto;height:auto;margin:0;overflow:visible;position:static;width:auto}.invisible{visibility:hidden}.clearfix:before,.clearfix:after{content:" ";display:table}.clearfix:after{clear:both}@media print{*,*:before,*:after,*:first-letter,*:first-line{background:transparent !important;color:#000 !important;box-shadow:none !important;text-shadow:none !important}a,a:visited{text-decoration:underline}a[href]:after{content:" (" attr(href) ")"}abbr[title]:after{content:" (" attr(title) ")"}a[href^="#"]:after,a[href^="javascript:"]:after{content:""}pre,blockquote{border:1px solid #999;page-break-inside:avoid}thead{display:table-header-group}tr,img{page-break-inside:avoid}img{max-width:100% !important}p,h2,h3{orphans:3;widows:3}h2,h3{page-break-after:avoid}}


/* Basics
==================================== */
html{
	box-sizing: border-box;
	background-color: #FFFFFF;
	font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: #5C5C5C;
}

*,
*:before,
*:after{
	box-sizing: inherit
}

body{
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}


/* Structural & Utility
==================================== */
#page{
	width:100%;
	height:auto;
	overflow:hidden
}

.cf:before,
.cf:after,
.container:before,
.container:after,
.row:before,
.row:after,
[class^="block-"]:before,
[class*=" block-"]:before,
[class^="block-"]:after,
[class*=" block-"]:after{
  content: " ";
  display: table;
}

.cf:after,
.container:after,
.row:after{
  clear: both;
}

.container{
	position: relative;
	width:auto;
	margin:0 4em;
}

.container,
.row,
[class^="block-"],
[class*=" block-"]{
	position: relative;
}

[class^="block-"],
[class*=" block-"],
.float-left{float:left}
.float-right{float:right}

.row{
	margin-right:-3em;
}

[class^="block-"],
[class*=" block-"]{
	padding-right:3em
}

.block-1{width:100%;}
.block-2{width:50%}
.block-4{width:25%}
.block-34{width:75%}
.block-3{width:33.333333333%}
.block-23{width:66.666666666%}
.block-5{width:20%}
.block-25{width:40%}
.block-35{width:60%}
.block-45{width:80%}
.block-6{width:16.666666666%}

.text-left{text-align: left}
.text-right{text-align: right}
.text-center{text-align: center}

/* Typography, UI
==================================== */
a{
	text-decoration: none;
}

h1,h2,h3,h4,h5{
	margin:0 0 1em 0;
	font-weight: 900;
	line-height: 1;
}

h1,
h2{
	font-size:2.25em;
}

h3{
	font-size:1.8em;
}

h4{
	font-size: 1.5em;
	margin:0.25em 0 0.5em 0
}

h5{
	font-size: 1.125em;
	font-weight: 500;
}

p{
	margin:0;
}

p + p{margin:0 0 1.5em 0}

.btn-wrap{
	text-align: center;
	padding:1em 0
}

.btn{
	display:inline-block;
	max-width:100%;
	font-weight: 500;
	line-height: 0.9;
	padding:1em 1.25em;
	margin:1em 1em 0 0;
	font-size:0.8em;
	font-weight: 500;
	background-color: #009687;
	color:#FFFFFF;
	text-transform: uppercase;
	text-align: left;
	vertical-align: middle;
	outline:none;
	border:none;
	text-shadow: none;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	cursor: pointer;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	-webkit-appearance:none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-box-shadow: 0 2px 4px 0px rgba(0,0,0,0.25);
	-moz-box-shadow: 0 2px 4px 0px rgba(0,0,0,0.25);
	box-shadow: 0 2px 4px 0px rgba(0,0,0,0.25);
}

/* Layout
==================================== */
.site-header,
.site-footer{
	padding:2em 0;
	color:#FFFFFF
}

.logo{
	display: block;
	float:left
}

.logo h1{
	display:none;
	visibility: hidden
}

.logo img{
	display: block;
	width:12em;
	height:auto
}

.site-nav,
.site-footer ul{
	float:right;
	text-align: right
}

.site-nav ul,
.site-nav ul li,
.site-footer ul,
.site-footer ul li{
	list-style: none;
	padding:0;
	margin:0
}

.site-nav ul li,
.site-footer ul li{
	display: inline-block;
	margin-left:1.5em;
	padding:0.8em 0
}

.site-nav ul li a{
	display:block;
	text-align: center;
	color:#FFFFFF;
	font-weight: 900;
}

.site-nav ul li a img,
.site-footer ul li a img{
	display: block;
	width:1.333em;
	height:auto;
	margin:0 auto 0.333em auto;
}

.site-footer{
	margin-top:2em;
}

.site-footer p,
.site-footer h5{
	display:block;
	float:left;
}

.page-section:first-child{margin-top:3em}
.page-section + .page-section{margin-top:2em}

.post,
.profile{
	padding:3em 0
}

.post-content{
	padding-top:1em
}

.feature-image{
	width:100%;
	margin-bottom: 3em
}

.feature-image img{
	display:block;
	width:100%;
	height:auto;
}

.profile h2,
.post h2{
	margin-bottom: 0.25em
}


/* Search
==================================== */
.search-bar{
	text-align: center;
	padding:3em 0;
	font-weight: 500;
	line-height: 1.2
}

input.search{
	display:block;
	margin:0 auto;
	padding:0.75em 0.5em;
	outline:none;
	border:1px solid #999;
	border-radius: 3px;
	-webkit-box-shadow: inset 0 1px 3px 0px rgba(0,0,0,0.25);
	-moz-box-shadow: inset 0 1px 3px 0px rgba(0,0,0,0.25);
	box-shadow: inset 0 1px 3px 0px rgba(0,0,0,0.25);
	background-image:url('../img/icon-search-dark.png');
	background-size:1.5em 1.5em;
	background-position: right 1em center;
	background-repeat: no-repeat;
}

.search-hint{
	display:inline-block;
	margin:1px auto 0 auto;
	padding:0.75em 1em;
	color:#FFFFFF
}

.search-hint ul,
.search-hint ul li{
	list-style: none;
	padding:0;
	margin:0;
}

.search-hint ul{display:inline-block}
.search-hint span,
.search-hint ul li{display:inline-block}

.search-hint ul li a{
	display:inline-block;
	color:#FFFFFF;
	border-bottom:1px solid rgba(255,255,255,0.5)
}
.search-hint ul li a:hover{border-bottom:1px solid rgba(255,255,255,1)}


/* Grid layout
==================================== */
.grid-image{
	height:auto;
	margin-bottom: 1em;
}
.grid-image img{
	display:block;
	width:100%;
	height:auto;
}

/* Media Queries
==================================== */
@media (max-width: 468px){
	body{font-size:14px}
	.container{
		width:auto;
		margin:0 1.5em;
	}
	.row{margin:0}
	[class^="block-"],
	[class*=" block-"]{
		width:100%;
		padding-right:0
	}
	[class^="block-"] + [class^="block-"],
	[class*=" block-"] + [class*=" block-"]{
		margin-top:2em
	}

	.site-header{padding:0.5em 0}
	.logo{padding-top:0.75em}
	.logo img{width:8em}
	.site-header nav ul li{margin-left:1em}
	.site-header nav ul li a{padding-top:0.66em}
	.site-header nav ul li a img{
		width:1.8em;
	}
	.site-header nav ul li a span{
		display:none;
	}
	input.search{width:100%}
	.search-hint{display:none}
}
@media (min-width: 469px) and (max-width: 1024px){
	body{font-size:16px}
	.container{
		width:auto;
		margin:0 2em;
	}
	input.search{width:75%}
	.row{
		margin-right:-1.5em;
	}

	[class^="block-"],
	[class*=" block-"]{
		padding-right:1.5em
	}
}
@media (min-width: 469px){
	.row + .row{margin-top: 3em}
	.row:last-child{margin-bottom: 3em}
}
@media (min-width: 1025px) and (max-width: 1280px){
	body{font-size:18px}
	.container{
		width:940px;
		margin:0 auto
	}
	input.search{width:66%}
	.site-meta{width:40%; float:left;}
	.post-content{
		padding-right:33%
	}
}
@media (min-width: 1281px){
	body{font-size:18px}
	.container{
		width:1200px;
		margin:0 auto
	}	
	input.search{width:66%}
	.site-meta{width:40%; float:left;}
	.post-content{
		padding-right:33%
	}
}





